.title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
  text-align: center;
  list-style: none;
}

.item {
  margin: 10px;
  width: 300px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #d7dfe6;
  transition: 0.25s;
}

.item:hover {
  transform: scale(1.03);
  box-shadow: 0 2px 4px rgba(49, 83, 236, 0.548);
}

.link {
  text-decoration: none;
  color: inherit;
}

.image {
  height: auto;
}

.movieTitle {
  font-size: 20px;
}
